- `Python list is going to represented with -> []`
- `Python list is going to accept any data type -> int | float | str | boolean`

In [ ]:
a = [10,55.55,'data'] # save in the Memory

print(a) # calling from the Memory

[10, 55.55, 'data']

In [ ]:
print(a[1])

55.55

`same like string `

- `memory allocation `
- `Indexing `
- `slicing `
- `skipping `

In [ ]:
a = [10,15,19,3,7,32,17] # save memory

print(a[4])

7

In [ ]:
print(a[2:5])

[19, 3, 7]

In [ ]:
print(a[::2])

[10, 19, 7, 17]

In [ ]:
print(a[:])

[10, 15, 19, 3, 7, 32, 17]

In [ ]:
print(a[2:])

[19, 3, 7, 32, 17]

In [ ]:
print(a[:4])

[10, 15, 19, 3]

In [ ]:
print(a[::-1])

[17, 32, 7, 3, 19, 15, 10]

**Python List is Mutable or Immutable -> prove it**

In [ ]:
# add

a = [10,50,3,13] # save in memory

a[4] = 500

print(a)

IndexError: list assignment index out of range

- `using index it is not possible to do adding or deleting in the Memory for list concept -> in that case please use List Built_in_functions `

**Python_List_built_in_functions**


**addition**
- `append`
- `extend`
- `insert`

**deletion**
- `pop`
- `remove`

**some other activities**
- `count`
- `index`
- `copy`
- `clear`
- `sort `
- `reverse `

In [ ]:
# append -> it will take the single value from the user and will add to the existing list only at the end

a = [10,50,3,13] # save in memory

a.append(500)

print(a)

[10, 50, 3, 13, 500]

In [ ]:
# extend -> it will take the multiple values from the user and will add to the existing list only at the end


a = [10,50,3,13] # save in the Memory

a.extend([1,2])

print(a)

[10, 50, 3, 13, 1, 2]

In [ ]:
# insert -> we can add values where ever we want

a = [10,50,3,13] # save in the Memory

a.insert(2,300)

print(a)

[10, 50, 300, 3, 13]

In [ ]:
# for deleting

# pop -> pop will remove last value defaulty but if we pass a number it will treat like index

a = [10,50,3,13] # save in the Memory

a.pop()

print(a)

[10, 50, 3]

In [ ]:
# for deleting

# pop -> pop will remove last value defaulty but if we pass a number it will treat like index

a = [10,50,3,13] # save in the Memory

a.pop(2)

print(a)

[10, 50, 13]

In [ ]:
# remove -> will take value directly and remove the value

a = [10,50,3,13] # save in the Memory

a.remove(50)

print(a)

[10, 3, 13]

In [ ]:
# replace
a = [10,50,3,13] # save in the Memory


a[1] = 5

print(a)

[10, 5, 3, 13]

from the above points we can say that list is mutable

In [ ]:
# count -> used to count the values

a = [1,2,4,5,1,3,19,30,1]

print(a.count(19))

1

In [ ]:
# index -> used to find the index of a given value

a = [1,2,4,5,1,3,19,30,1]

print(a.index(19))

6

In [ ]:
a = [1,2,4,5]

del a

print(a)

NameError: name 'a' is not defined

In [ ]:
# clear -> it is used to clear the data from the varibale but varibale will be alive in the memor

a = [1,2,4,5]

a.clear()

print(a)

[]

In [ ]:
# copy -> there are 2 types of copy tecnhiques
# deep copy and shallow copy

In [ ]:
# deep copy

a = [10,20,50] # saves in the Memory

b = a


print(a)
print(b)

print(id(a))
print(id(b))

a.append(100)

print(a)
print(b)

[10, 20, 50]
[10, 20, 50]
133636950699072
133636950699072
[10, 20, 50, 100]
[10, 20, 50, 100]

In [ ]:
# shallow copy

# deep copy

a = [10,20,50] # saves in the Memory

b = a.copy()


print(a)
print(b)

print(id(a))
print(id(b))

a.append(100)

print(a)
print(b)

[10, 20, 50]
[10, 20, 50]
133636950697856
133637460886528
[10, 20, 50, 100]
[10, 20, 50]

In [ ]:
# reverse -> [::-1]

a = [10,20,30,40,50]

a.reverse()

print(a)

[50, 40, 30, 20, 10]

In [ ]:
# sort -> ascending and descending orders

a = [9,1,5,7,11,13,6,2,8]

a.sort() # default -> ascending order

print(a)

[1, 2, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
# sort -> ascending and descending orders

a = [9,1,5,7,11,13,6,2,8]

a.sort(reverse=True) # default -> desceding order

print(a)

[13, 11, 9, 8, 7, 6, 5, 2, 1]